body {
    background-color: #f8f9fa;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.hero-section {
    height: 100vh;
    background: url('https://cdn.pixabay.com/photo/2017/03/25/17/55/color-2174045_960_720.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.5rem;
}

.skill-item {
    margin-bottom: 30px;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
